<p>Author:{{quote.author}}</p>
<p>Invented on: {{quote.inventionDate|date|uppercase}} </p>
<p>Age of the quote: {{quote.inventionDate|dateCount}} years.</p>
<p>Submitted by: {{quote.publisher}}</p>
<div class="col-md-6">
    <i (click)='likeBtnClick()' class="far fa-grin-alt fa-2x"></i>
    {{likes}}  &nbsp;&nbsp;&nbsp;
      <i (click)='dislikeBtnClick()' class="fas fa-angry fa-2x"></i>
    {{dislikes}}
</div>
<button (click)= 'quoteDelete(true)'class="btn btn-outline-danger" >Delete Quote</button>
